body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.flexible-container{
    display: flex;
}
.orange-color{
    color: #FFA52F;
}
section{
    margin-bottom: 150px;
}
h1{
    font-size: 50px;
}
.half-width{
    width: 50%;
    margin-left: 7%;
}
.half-width img{
    width: 95%;
}
.button{
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(to right,#FF6432,#FF4201);
    color: white;
    font-weight: 700;
}
.bg{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.about{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}
.experience-item{
    width: 80%;
    margin: 0 5%;
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 0px 4px 8px rgba(0,0,0,.2), 0px 6px 12px rgba(0,0,0,.19); */
    box-shadow: 0px 8px 30px rgba(0,0,0,.2);
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience h1{
    padding-left: 5%;
}
.experience-item h2{
    font-size: 35px;
}
.border-style1{
    border-left: 7px solid ;
    border-image: linear-gradient(orange,tomato) 30;
}
.border-style2{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 30;
}
footer{
    text-align: center;
}
p{
    color: #6D6766;
}