body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.flexible-container{
    display: flex;
}
.orange-color{
    color: #FFA52F;
}
section{
    margin-bottom: 150px;
}
h1{
    font-size: 50px;
}
.half-width{
    width: 50%;
    margin-left: 7%;;
}
.half-width img{
    width: 85%;
}
.button{
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(to right,#FF6432,#FF4201);
    color: white;
    font-weight: 700;
}
.bg{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.about{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right ;
}